@import "vars";
@import "mixing";

.for-social {
    align-content: flex-start;
    margin-bottom: 3.44em;
}

.view-all {
    font-size: @18px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    min-width: max(11.68rem, 144.25px);
    span {
        display: block;
        color: @ColorTextPurple; 
    }
    &.open {
        display: none;
    }
    &:hover {
        color: @ColorTextPurple;
    }
}

.right-side {
    width: 68.4%;
    .for-title a, .margin-link {
        width: max-content;
        margin: 0 0 0 auto;
    }
}

.for-title {
    margin-bottom: 2.5em;
    padding: 0 .7rem;
    &.title-margin-57 {
        margin-bottom: 3.56em;
    }
    &.title-margin-23 {
        margin-bottom: 1.44em;
    }
}

.for-title-two {
    padding: 0 .7rem;
    margin-bottom: 2.5em;
    .for-filter {
        margin: 0 .0 0 auto;
    }
    &.for-double-title {
        margin-top: 2.69em;
    }
    .step {
        font-weight: 500;
    }
}

.balance {
    font-size: @24px;
    font-weight: 700;
    span {
        margin-left: 1.44rem;
        font-size: @20px;
        font-weight: 500;
        color: @ColorTextPurple;
    }
}

.for-pagination {
    justify-content: center;
    margin-top: 2.5em;
}

.for-information-ref {
    padding: 0 .7em;
    margin: 1.44em 0 3.5em 0;
    p:not(:last-child) {
        margin-bottom: .75rem;
    }
    span {
        color: @ColorTextPurple;
        font-weight: 700;
    }
}

.for-copy {
    > p {
        margin: 0 0 1rem .7rem;
    }
    margin-bottom: 1.94em;
}

.for-note {
    margin: 1.69em 0 2.5em 0;
}

.margin-selector {
    margin-bottom: .81rem;
}

.for-added {
    max-width: 32em;
    flex-wrap: wrap;
    margin: unset !important;
}

.setting-profile {
    .settings {
        padding: 2.81em 3.88em;
    }
    button {
        min-width: 48.5%;
    }
    .for-inputs {
        width: 48.5%;
    }
}

.title {
    text-align: center;
    margin-bottom: 2.5rem;
}

.for-images {
    flex-wrap: wrap;
}

.dialog-support {
    .title {
        margin-bottom: 1.44rem;
    }
    .for-dialog {
        background-color: @ColorMainBGInput;
        border: 2px solid @ColorBorderDialog;
        border-radius: 0 0 @Border16px @Border16px;
        min-height: max(40.06em, 482px);
        flex-direction: column;
        justify-content: flex-end;
        padding: 4.2em 2.38em 2em 2.38em;
        .date {
            font-weight: 700;
            font-size: @16px;
            top: 2.13rem; left: 0; right: 0;
            text-align: center;
            color: #CBCBCB;
        }
        textarea {
            background-color: @ColorBGTextAreaDialog;
            border: 2px solid @ColorBorderDialog;
            min-height: max(6.94rem, 98px);
            padding: 1.38rem 1.31rem !important;
            background-image: unset;
        }
    }
}

.for-messages {
    padding: 0 1.31em;
    max-height: max(24.4em, 285px);
    overflow-y: auto;
    margin-bottom: 1.5em;
    .custom-scroll;
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.2);
    }
    & ~ .for-added {
        max-width: 100%;
        padding: 0 .7em;
        flex-wrap: wrap;
        .added-file {
            background-color: @ColorBGTextAreaDialog;
            border: 2px solid @ColorBorderDialog;
            margin: 0 .4em 1em .4em;
            width: 22.8%;
            p {
                font-size: @15px;
                font-weight: 500;
            }
        }
    }
}
.management-message {
    width: 100%;
    > div {
        width: 84.3%;
    }
    img {
        &:hover {
            animation: hover-in .3s ease-out;
            animation-fill-mode: forwards
        }
        &:not(:hover) {
            animation: hover-out .3s ease-out;
        }
        .animation_purple_img_white;
    }
    .add-file-message {
        width: max(1.47em, 17.92px);
        height: max(1.56em, 19px);
        margin: 0 7px;
    }
    .send-message {
        width: max(1.62em, 17.03px);
        height: max(1.81em, 19px);
    }
}

.payment-crypto {
    .title {
        margin-bottom: 3.13rem;
        span {
            color: @ColorTextPurple;
        }
    }
    .img-QR {
        border-radius: @Border16px;
        width: max(14.06em, 163px);
        height: max(14.06em, 163px);
        margin-bottom: 2.25em;
    }
    .right-side {
        flex-direction: column;
    }
    .status {
        margin: 1.56em 0 2.38em 0;
        p {
            font-size: @20px;
        }
        padding: 0 1.5em;
        > div {
            margin: unset;
            p {
                font-size: @15px !important;
            }
        }
    }
}

.order_settings {
    .selector {
        margin-bottom: 2.69em;
    }
    .parameter {
        margin: 0 0 1rem .7rem;
    }
    .title {
        margin: 0 0 0 .7rem;
    }
    .management-order {
        flex-wrap: wrap;
        margin: 2.5em 0 0 .7em;
        &.margin-left {
            margin-left: unset;
        }
        .price {
            margin: .8rem 2rem .8rem 0;
        }
    }
    .price {
        font-size: @24px;
        font-weight: 700;
        span {
            font-weight: 500;
            margin-left: 1.31rem;
            color: @ColorTextPurple;
        }
    }
    .for-info-order {
        margin-bottom: 3.31em;
    }
    .info-left {
        width: 50.9%;
    }
    .info-right {
        width: 42.5%;
        .description {
            padding: 1.69em 2.11em;
            p {
                font-size: @15px;
            }
        }
        .price {
            margin-top: 1.81rem;
            text-align: center;
        }
    }
}

.order-pay {
    .management-order button {
        width: 222px;
    }
}

.for-coupon {
    margin-top: 2em;
    p {
        margin: 0 0 1rem .7rem;
    }
    .for-input-coupon {
        a {
            width: 27.25%;
        }
        > div {
            width: 69.4%;
        }
    }
}

.number-order {
    margin-bottom: 4.31em;
    > p {
        position: unset;
    }
    .date {
        color: rgba(255, 255, 255, 0.69);
    }
    .for-number {
        margin-bottom: .4em;
        > div {
            margin-left: 1.1em;
            min-width: max(6.8em, 80px);
        }
    }
    
}

.menu-navigation, .for-back-mobil {
    display: none;
}

@media screen and (max-width:1220px) {
    .order-pay {
        .management-order button {
            width: 205px;
        }
    }
}

@media screen and (max-width:1079px) {
    .order-pay {
        .management-order button {
            width: 180px;
        }
    }
}

@media screen and (max-width:910px) {
    .order-pay {
        .management-order button {
            width: 156px;
        }
    }
}

@media screen and (max-width:869px) {
    .payment-crypto {
        .status {
            padding: 0;
        }
    }
}

@media screen and (max-width:834px) {
    .right-side {
        width: 100%;
    }
    .order-pay {
        .management-order button {
            width: unset;
        }
    }
}

@media screen and (max-width:699px) {
    .setting-profile {
        .for-inputs {
            width: 100%;
        }
        .settings-inputs {
            flex-direction: column;
            button:first-child {
                margin-bottom: .81rem;
            }
        }
    }
}

@media screen and (max-width:604px) {
    .for-menu {
        .menu-navigation {
            display: flex;
            flex-direction: column;
            p, a {
                font-size: 20px;
                margin-bottom: 25px;
                img {
                    filter: brightness(200%);
                    margin-right: 27.57px;
                    width: 26.43px;
                    height: auto;
                }
            }
            &.hide {
                display: none;
            }
        }
        .right-side {
            display: none;
            &.not-hide {
                display: unset;
            }
        }
    }
    .for-back-mobil {
        display: flex;
        margin-bottom: 31px;
        p {
            top: 0; bottom: 0;
            margin: auto;
        }
        h1 {
            margin-left: auto;
        }
    }
    .for-title, .for-title-two, .for-information-ref,
    .for-messages ~ .for-added {
        padding: unset !important;
    }
    .order_settings {
        .management-order, .title, .parameter,
        .for-coupon p  {
            margin-left: unset !important;
        }
    }
    .for-info-order {
        flex-direction: column;
        .info-left, .info-right {
            width: 100%;
        }
        .info-left {
            margin-bottom: 19px;
        }
    }
    .between-mobil {
        width: 100%;
        justify-content: space-between;
    }
    .payment-crypto .title, .dialog-support .title {
        margin-top: 45px;
    }
    .my-orders {
        .for-title-two h1 {
            display: none;
        }
    }
    .number-order {
        flex-direction: column;
        p {
            margin-right: auto;
        }
        > div {
            margin: 20px 0;
        }
        button {
            width: min(100%, 250px);
        }
    }
    .balance span {
        display: block;
        font-size: 18px;
        margin-top: 4px;
    }
    .page-balance .for-title .balance {
        display: none;
    }

    .for-copy > p, .right-side .margin-link {
        margin-left: unset;
    }

    .for-messages {
        padding: unset !important;
        padding-right: 20px !important;
    }

    .setting-profile {
        padding-top: 45px;
    }
}

@media screen and (max-width:570px) {
    .management-order {
        flex-direction: column;
        > div, .price {
            width: 100%;
            justify-content: space-between;
        }
        .price {
            display: flex;
            margin: .8rem 0 19px 0 !important;
        }
    }
    .for-input-coupon {
        flex-direction: column;
        align-items: center;
        > div {
            width: 100% !important;
            margin-bottom: 19px;
        }
    }
    .info-right .price {
        display: flex;
        justify-content: space-between;
    }
    .status {
        flex-direction: column;
        > p:not(:last-child) {
            margin: 19px 0 9px 0;
        }
    }
    .page-balance {
        .for-title a {
            margin: auto;
            width: 60% !important;
        }
        .for-title-two {
            align-items: flex-start;
            h2 {
                margin-bottom: 23px;
            }
            flex-direction: column;
        }
    }
}

@media screen and (max-width:470px) {
    .step {
        margin-left: 20px;
        white-space: nowrap;
    }
    .view-all {
        width: 47%;
    }
}

@media screen and (max-width:428px) {
    .for-dialog {
        padding: 40px 16px 14px 16px !important;
        .date {
            top: 20px !important;
        }
    }
    .settings {
        padding: 20px 13px !important;
    }
    .for-title-two .for-filter {
        margin: unset;
    }
}

@media screen and (max-width:380px) {
    .page-support {
        .for-title {
            h1 {
                margin-bottom: 30px;
            }
            flex-direction: column;
        }
    }
}

@media screen and (max-width:359px) {
    .for-information-ref {
        margin-bottom: 20px;
        & + button {
            margin-bottom: 26px;
        }
    }
    .page-referral {
        .for-double-title {
            align-items: flex-start;
            flex-direction: column;
            h2 {
                margin-bottom: 23px;
            }
        }
    }
}