@import "../../../public/assets/css/vars";
@import "../../../public/assets/css/mixing";

.choose-page {
    height: 100%;
    .button-close, .go-page {
        width: max(0.75em, 7px);
        height: max(0.75em, 7px);
        transform: translateY(-50%);
        top: 50%;
        left: 2.1em;
        opacity: 0;
        visibility: hidden;
        &:hover {
            animation: hover-in .3s ease-out;
            animation-fill-mode: forwards
        }
        &:not(:hover) {
            animation: hover-out .3s ease-out;
        }
        &.open {
            opacity: 1;
            visibility: visible;
        }
        &.hide {
            opacity: 0;
            visibility: hidden;
        }
    }
    .go-page {
        width: max(1.25em, 12px);
        height: max(1.25em, 12px);
        left: 1.85em;
        visibility: hidden;
        opacity: 0;
        &.show {
           visibility: visible;
           opacity: 1; 
        }
    }
}

.for-pagination {
    justify-content: center;
    margin-top: 2.5em;
}

.pagination {
    > div {
        margin: 0 1.87em;
    }
    button {
        border: unset;
        background-color: unset;
        img {
            width: max(3.94rem, 33.57px);
            height: max(3.94rem, 33.57px);
        }
        &:hover {
            img {
                animation: hover-in .4s ease-out;
                animation-fill-mode: forwards  
            }
        }
        &:not(:hover) {
            img {
                animation: hover-out .4s ease-out;
            }
            .animation_purple_img_gray
        }
        &:disabled {
            img {
                filter: brightness(10%) contrast(60%);
            }
            &:hover {
                img {
                    animation: unset;
                }
            }
            &:not(:hover) {
                img {
                    animation: unset;
                }
            }
        }
    }
} 

.number-page, .three-dots {
    font-size: @15px;
    margin: 0 1.87em;
    &:hover {
        color: @ColorTextPurple;
    }
    &.select {
        color: @ColorTextPurple
    }
    .right_left_0;
    p {
        font-size: @15px;
    }
}

.three-dots {
    margin: auto;
}

@media screen and (max-width: 380px) {
    .number-page {
        font-size: 8.45px;
    }
    .pagination button img {
        width: 34px;
        height: 34px;
    }
}